.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-left: 30px;
  margin-top: 90px;
}

.slider-btn {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
}

.business-lines {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 90%;
  border: 1px solid black;
  padding: 10px 0;
}

.business-lines::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.business-lines > div {
  min-width: 200px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  background: #f2f2f2;
  white-space: normal;
}

.layout {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.left-panel {
  width: 25%;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.left-panel p {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.right-panel {
  width: 75%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 220px;
  height: 200px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.business-lines > div.active {
  background: black;
  color: white;
}

/* middle section */

.mostordereds-section {
  margin-top: 70px;
  margin-left: 74px;
  margin-right: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  padding: 20px;
  height: 100vh;
}
/* footer */
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  min-height: 100vh;
  margin-top: 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #4ade80;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}
